body {
    background-color: white;
    display: flex;
    justify-content: center;
}
h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
}
h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #2F281E;
}
.text {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #544837;
}
.whole__page {
    background-color: white;
    min-height: 3354px;
    max-width: 1126px;
    width: 100%;
    height: 100%;
    height: 100vh; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.header {
    position: absolute;
    top:0;
    background-color: rgb(255, 255, 255);
    max-height: 78px;
    max-width: 1111px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.logo {
    max-width: 185px;
    max-height: 32px;
    width: 100%;
}
.nav {
    list-style-type: none;
    display: flex;
    align-items: center; 
}
.nav>li {
    margin-left: 38px;
    position: relative;
    right: 39px;
}
.nav-appearance {
    text-decoration-line:none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 35px;
    font-size: 14px;
    color: #2F281E;
}
.top-btns{
    max-width: 234px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}
.SignUp {
    padding: 14px;
    max-width: 102px;
    max-height: 46px;
    width: 100%;
    background-color: #FF9900;
    border: none;
    color: #FFFFFF;
}
.SignIn {   
    position: relative;
    right: 10px;
    padding: 14px;
    max-width: 110px;
    max-height: 46px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1;
    border-color: #BCD0E5;
    color: #173A56;
}
.container {
    margin:50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.one {  
    max-width: 1126px; 
    max-height: 496px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.img1 {
    max-height: 496px;
    max-width: 605px;
    width: 100%;
}
.main-title {
    max-width: 518px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
}
.get-started {
    max-width: 458px;
    max-height: 95px;
    width: 100%;
}
.btn-link-conatiner {
    position: relative;
    top: 25px;
    right: 25px;
    max-width: 366px;
    min-height: 53px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.page-btn {
    max-width: 175px;
    max-height: 53px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF9900;
    border-radius: 6px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
}
.link-design {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FF9900;
}
.link-design-text {
    text-decoration-line: underline;
}
.two {
    position: relative;
    bottom: 54px;
    max-height: 108px;
    max-width: 1126px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.divide-lines {
    max-width: 550px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.three {
    max-width: 1095px; 
    max-height: 204px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.box {
    max-width: 240px;
    max-height: 178px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;  
}
.icon {
    max-width: 50px;
    max-height: 50px;
    width: 100%;
}
.four {
    max-height: 108px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.five { 
    max-width: 1110px; 
    max-height: 574px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.over-title {
    position: relative;
    top: 30px;  
}
.design-professionals {
    max-width: 486px;
    max-height: 531px;
}
.img2 {
    max-width: 520px;
    max-height: 574px;
}
.six {
    max-width: 1121px; 
    max-height: 521px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.img3 {
    max-width: 535px;
    max-height: 521px;
}
.product-managers {
    max-width: 486px;
    max-height: 427px;
    width: 100%;
}
.check-list {
    max-width: 430px;
    max-height: 52px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.check-text {
    position: relative;
    left: 15px;
    bottom: 18px;
}
.seven {
   /* margin-top: 104px; osäker på om denna är för stor för vad vi får använda*/
    max-width: 1110px; 
    max-height: 609px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.last-section {
    display: flex;
    flex-wrap: wrap;
    max-width: 486px;
    width: 100%;
}
.img4 {
    max-width: 542px;
    max-height: 609px;
}
.line {
   /* margin-top: 146px; osäker på om denna är för stor för vad vi får använda*/
    width: 1109px;
    height: 1px;
    background: rgba(188, 208, 229, 0.496913);
}
footer {
    max-height: 308px;
    min-width: 1109px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.end-logo {
    position: relative;
    top: 102px;
}
.end-links {
    list-style-type: none;
    position: relative;
    top: 167px;
}
.sign-up-block {
    min-height: 301px;
    min-width: 325px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}
.signup-now-btn {
    padding: 8px;
    max-width: 131px;
    max-height: 39px;
    width: 100%;
    background-color: #FF9900;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

